<%- include('./parts/head',{title:'Pizzaria Fantástica'}) %>
	<link rel="stylesheet" href="/css/pizza.css">
	<main>
		<h1>Fracatu</h1>
		<h2>R$ 60,00</h2>
		<img src="/img/fracatu.jpg" alt="Fracatu">
		<div>Ingredientes: Mussarela, frango desfiado, requeijão</div>
		<button>+ Add</button>
		<a href="/pizzas/3" class="prev">&lt;</a>
		<a href="/pizzas/5" class="next">&gt;</a>
	</main>
<%- include('./parts/foot') %>